name: Android CI

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Install NDK
      run: >
        echo "y" |
        sudo ${ANDROID_HOME}/tools/bin/sdkmanager
        --install "ndk;21.1.6352462"
        --sdk_root=${ANDROID_SDK_ROOT}
        > /dev/null
    - name: Build with Gradle
      run: bash ./gradlew assembleRelease
    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/apk/release/
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.KEYSTORE_ALIAS }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
    - name: Upload APK to Firebase Storage
      run: bash ./upload-apk.sh
      env:
        APK_PATH: app/build/outputs/apk/release/app-release-unsigned-signed.apk
        APK_STORAGE_NAME: app.apk
        OAUTH_CLIENT_ID: ${{ secrets.CLOUD_STORAGE_CLIENT_ID }}
        OAUTH_CLIENT_SECRET: ${{ secrets.CLOUD_STORAGE_CLIENT_SECRET }}
        OAUTH_REFRESH_TOKEN: ${{ secrets.CLOUD_STORAGE_REFRESH_TOKEN }}
        BUCKET_NAME: shops-queue.appspot.com
